/* Header */
.logo {
    line-height: 15px;
    padding-top: 1%;
    color: #7D815E;
}

nav .logo p {
    color: #7D815E;
}

.navbar a {
    color: #7D815E;
    font-size: 1.2em;
}

main {
    background-color: #EDEBE9;
}

h1, h2, h3, h4, h5 {
    font-size: 2em;
    text-align: center;
}

/* About */
.portrait {
    width: 30em;
}

h1 {
    text-align: center;
}

.portrait {
    float: left;
    padding: 2%;
}

.about-section {
    align-items: center;
    padding: 3% 5%;
    color: #7D815E;
    width: 100%;
}

.about {
    padding-top: 2%;
    margin: 0 10%;
    font-size: 1.1em;
}

/* Projects */
.projects-section {
    background-color: #7D815E;
    color: #EDEBE9;
    padding-top: 4%;
    padding-bottom: 5%;
}

.tyrellCounty, .NCisland, .portfolio {
    padding-bottom: 2%;
}

.website-title {
    font-size: 1.4em;
}

/* Skills + Experience Section */
h3, h4 {
    color: #7D815E;
}

.skills-experience, h3, h4 {
    padding-top: 2%;
}

.skills-experience {
    padding: 2% 0;
}

.skills-section, .experience-section {
    color: #7D815E;
    font-size: 1.1em;
}

/* Footer */
footer {
    padding: 3%;
    padding-bottom: 1.5%;
    background-color: #8B755F;
    color: #EDEBE9;
    text-align: center;
}

h5 {
    padding-bottom: 2%;
}

footer a {
    color: #EDEBE9;
    margin-right: 3%;
}

footer a:hover {
    color: #5c613c;
}

.copyright {
    padding-top: 3%;
}